@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;800&display=swap');

.upcoming-section{
    margin: 100px auto;
}
.up-head{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 50px; 
    font-weight: 800;
    margin: 0px 0 20px;
    line-height: 120%;
    letter-spacing: 1px;
}
.up-para{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0 20px;
    line-height: 120%;
}
.container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    z-index:2;
    height:100vh;
  }
  .container .card{
    vertical-align:top;
    width:280px;
    height:450px;
    position:relative;
    margin:30px 50px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
    border-radius:25px;
    background-color:rgba(255,255,255, 0.1);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(5px);
    text-align:center;
  }
  .card .content{
    padding:20px;
    transition:0.8s all ease;
    color:#000;
    transform:translateY(200px);
    opacity:0;
  }
  .card:hover .content{
    transform:translateY(0px);
    opacity:1;
  }
  .card img{
    position:absolute;
    width:140px;
    top:50px;
  
    z-index:-1;
  }
  h1{

    text-align:center;
    z-index:9;
    position:relative;
    margin-bottom:-20px;
    padding-bottom:0;
    padding-top:20px;
    font-weight:400;
  }
  .card .content h2{
  
    font-weight:400;
  }
  .card .content a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    padding:8px 30px 11px;
    border:2px solid #fff;
    text-transform:uppercase;
  
    border-radius:50px;
    box-shadow: 0px 5px 50px rgba(0,0,0,0.8);
    transition:0.8s all ease;
  }
  .card .content a:hover{
    background: #9C27B0;
  }
  
  
  
  @media only screen and (max-width:900px) {
    .container{
      display:block;
    }
  }
@media (min-width:350px) and (max-width:750px){
    .up-head{
        font-size: 60px;
    }
}